<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

	<head>

		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

		<title>MeatGrinder: Statistics</title>

		<meta name="author" content="Alex Safatli and Christian Blouin" />
		<meta name="description" content="Statistics for MeatGrinder" />

 		<link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
 		<link href="../css/mobile.css" rel="stylesheet" type="text/css" media="only screen and (max-device-width:480px)" />
		<link href="../css/mobile.css" rel="stylesheet" type="text/css" media="handheld" />

		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript">
		  google.load("visualization", "1", {packages:["corechart"]});
		  {% for typechart in gathered.charts %}
		  	{% for chart in typechart %}
		  		{{ chart }}
		  	{% endfor %}
		  {% endfor %}
		</script>

	</head>

	<body>
	
		<div id="wrap">
			{% for title in gathered.titles %}
				<div class="chart" id="chart_{{ title.lower() }}"></div>
			{% endfor %}	
		</div>
	
	</body>

</html>