a{
	color: #5E5E5E;
	text-decoration: none;
	font-weight: bold;
}

body {
	background-color:#5F3711;
	font-family:sans-serif;
	height:100%;
	text-align:center;
}

heading{
	font-weight:bold;
	font-size:2em;
}

#wrap, #largewrap{
	background-color:#E2D5C1;
	padding:10px;
	font-size:1.5em;
	border:5px solid #D4C098;
	width:95%;
}

table{
	margin:auto;
	font-size:1.3em;
	width:90%;
	margin-top:45px;
	margin-bottom:15px;
	border:2px solid #92753D;
	background-color:#F6F6E2;
}

th{
	border-bottom:2px solid #92753D;
	background-color:#E2D5C1;
}

td,th{
	padding:5px;
}

ol{
	text-align:left;
	padding:0;
	margin-left:10px;
	margin-right:10px;
	list-style-position:inside;
}

.mgform{
	margin:auto;
	width:100%;
	font-size:1em;
}

.mgform button, select, label{
	font-size:1.25em;
}

input[type=checkbox] {
    -webkit-transform: scale(1.8,1.8);
}

.mgformitem{
	margin-top:12px;
	margin-bottom:12px;
	display:block;
}

.outcome{
	padding:2px;
	padding-top:5px;
	margin:2px;
	margin-top:10px;
}

.panel, .chart{
	padding:8px;
	padding-bottom:5px;
	background-color:#D4C098;
	border:2px solid #92753D;
	margin:10px;
}

.biggie{
	font-size:2.75em;
	margin-bottom:2px;
}

.smaller{
	font-size:1em;
}

#legal{
	padding-top:5px;
	font-style:italic;
	font-size:0.6em;
}

#thanks{
	padding-top:5px;
}