a{
	color: #5E5E5E;
	text-decoration: none;
	font-weight: bold;
}

a:hover{
	color:black;
}

body {
	background-color:#5F3711;
	font-family:sans-serif;
	height:100%;
	text-align:center;
}

heading{
	font-weight:bold;
	font-size:150%;
}

table{
	margin:auto;
	width:75%;
	margin-top:15px;
	margin-bottom:15px;
	border:2px solid #92753D;
	background-color:#F6F6E2;
}

th{
	border-bottom:2px solid #92753D;
	background-color:#E2D5C1;
}

td,th{
	padding:5px;
	font-size:80%;
}

ol{
	text-align:left;
	padding:0;
	margin-left:12px;
	margin-right:12px;
	list-style-position:inside;
}

#wrap{
	background-color:#E2D5C1;
	width:450px;
	padding:10px;
	border:5px solid #D4C098;
	margin:auto;
}

#largewrap{
	background-color:#E2D5C1;
	width:80%;
	max-width:800px;
	min-width:500px;
	padding:10px;
	border:5px solid #D4C098;
	margin:auto;
}

.mgform{
	margin:auto;
	width:400px;
	font-size:75%;
}

.mgformitem{
	margin-top:5px;
	margin-bottom:5px;
}

div.clearer {clear: both; line-height: 0; height: 0;}

.outcome{
	padding:2px;
	margin:2px;
	margin-top:10px;
	float:left;
	width:395px;
}

.outcome2{
	padding:2px;
	margin: -2px;
	margin-top:10px;
	float:right;
	width:395px;
}

.panel, .chart{
	padding:2px;
	padding-bottom:5px;
	background-color:#D4C098;
	border:2px solid #92753D;
	margin:2px;
}

.chart{
	margin-top:15px;
	margin-bottom:15px;
}

#thanks{
	padding-top:5px;
	font-size:90%;
}

.biggie{
	font-size:250%;
	margin-bottom:2px;
}

.smaller{
	font-size:75%;
}

#legal{
	padding-top:5px;
	font-style:italic;
	font-size:50%;
}